# Config this file using https://help.github.com/articles/ignoring-files/
# git config --global core.excludesfile ~/.gitignore_global

# ignore MoldDesignFileHandler.Document
*.out

#AUX File (.aux)
*.aux

#BBL file
*.bbl

#Performance Monitor File (.blg)
*.blg

# table of conents files
*.lof
*.lot
*.toc
*.pdf

#log file
*.log